version: "3.9"

services:
  nginx:
    image: nginx:latest
    container_name: kodigo-os-nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kodigo-os-php
    volumes:
      - ./:/var/www/html
      - ./web/uploads:/var/www/html/web/uploads
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: kodigo-os-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: kodigo-os
      MYSQL_USER: kodigo-os
      MYSQL_PASSWORD: T$9mA!4xB2@qF7#rV8
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: kodigo-os-phpmyadmin
    restart: always
    ports:
      - "9000:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - mysql

  composer:
    image: composer:2
    container_name: kodigo-os-composer
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    entrypoint: ["composer"]

volumes:
  mysql_data:
